@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#one,#two,#three,#four {
  background-position: center;
  min-height: 75vh;  
}
#one{
    background-image: url('./img/Layer2.png');
}
#two{
    background-image: url('./img/beautiful-16736_1280.png');
}
#three{
    background-image: url('./img/Layer3.png');
}
#four{
    background-image: url('./img/Layer5.png');
    color: white;
    text-align: center;
}
#five{
    background-image: url('./img/Layer6.png');
}
#linesec1{
    width: 20%;
    border: 2px white;
}
#subheading{
    font-family: 'Pacifico', cursive;
    color: white;
}
#copyright{
    font-weight: 0.5em;
    color: whitesmoke;

}
hr{
    border: 1px solid red;
     width: 100%
}

